body {
  width: 100%;
}

.container { width: 100%; }

#btn-custom {
  border-radius: 50px; }

footer {
  margin-top: 30px;
}
footer a {
  font-size: 14px;
}

footer li {
  list-style: none;}

#stage {
  background-image: url('../img/stage-01-bg.jpg');
  background-size: cover;
  background-color: #000;
  background-repeat: no-repeat;
  background-position: bottom center;
  color: #fff;
  padding-bottom: 60px;
  }

.navbar, .navbar-default , .navbar-fixed-top, {
color: #fff;

}


#home-pre-reg{
  background-color: #f7f4ed;
  padding-top: 40px;
  padding-bottom: 40px;
}

.bg-pale {
  background-color:#dcebee;
  color: #000;
}

#stage-2 {
  background-image: url('../img/stock.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;

  height: 500px;
  clear: auto;
  margin-bottom: 0px;
  }

  #stage-3 {
    background-image: url('../img/stage-02-bg.png');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    clear: auto;
    COLOR: #FFF;
    }


    #stage-4 {
      background-image: url('../img/stage-03-bg.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: bottom center;
      clear: auto;
      color: #fff;
      margin-bottom: 0px;
      }

      #stage-5 {
        background-image: url('../img/stage-04-bg.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom center;
        clear: auto;
        color: #fff;
        margin-bottom: 0px;
        }

        #stage-6 {
          background-image: url('../img/stage-05-bg.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: bottom center;
          clear: auto;
          color: #fff;
          margin-bottom: 0px;
          }
.vertical-caption, h2 {
    text-shadow: 1px 3px 2px rgba(0,0,0,0.3);
}

#home-lead {
  height: 500px;
    padding-bottom: 50px;
}
.card{
  border: none;
  width: 18em;
  text-align: center;
  background-color: none;
}



#card-film {
  margin: 20px;
  background: none;
}

.card-block, .card-text, .card {
    background: none;
}

.vertical-caption {
padding-top: 120px;
padding-bottom: 120px;
}


#content-dark {
  background-color: #e35f3e;
  color: #101334;
}
