@import "bootstrap/bootstrap";
@import "boff-variables";
@import "boff-layout";
@import url('https://fonts.googleapis.com/css?family=Inconsolata|Quicksand');


html, body {
  height: 100%;
  background-color: $primary;
  font-family: $type-paragraph;}


h1, h2, h3, h4, h5, h6 {
  font-family: $type-heading;
}
